
//Hoja de estilo para la página de listado.
.filtrado{
    position: absolute;
    right: 680px;
    top:230px;
}
.filtrado__label{
    font-size: 24px;
    font-weight: bold;
    color: var(--color-letra);
}

.filtrado__opciones,.filtrado__select{
    width: auto;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: $colorletra;
    background-color: var(--color-primario);
    border-radius: 10px;
}

.btn__headerbusqueda{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 170px;
    left: 450px;
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 50%;
    color: var(--color-letra-input);

}

#header__busqueda__img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#headerbusqueda--search{
    width: 400px;
    font-weight: 800;
    color: var(--color-primario);
    padding:10px;
    display: block;
    margin: auto;
    margin-top: 75px;
    background-color: var(--color-letra-input);
    border-radius: 20px;
    border: 2px solid var(--color-letra);
    
    &::placeholder{
        font-size: 20px;
        font-weight: bolder;
        color: var(--color-letra);
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }
} 
.lista{
    display: flex;
}

.lista__p{
    font-size: 15px;
    margin: 10px;
    margin-bottom: 20px;
}

.lista__boton{
    margin-left: 15%;
    margin-bottom: 100px;
}

.row{
    display: grid;
    margin: auto;
    grid-template-columns: 300px 300px 300px 300px;
    margin-top: 100px;
    grid-column-start: 1;
    grid-row-gap: 1em;
    grid-column-gap: 10px;
    img{
        width: 250px;
        margin-left: 25px;
        margin-top: 15px;
        border-radius: 20%;
    }
    .icono{
        width: 40px;
        margin-right: 5px;
        background-color: rgb(173, 166, 122);
        padding: 2px;
        
    }

    .card{
        margin-top: 30px;
        width: 300px;
        height: 600px;
        background-color: var(--color-input);
        border-radius: 20px;
        border: 2px solid var(--color-letra-input);

        .container{
            height: 160px;
            width: 260px;
            text-align:start;
        }


        button{
            width: 200px;
            margin-left: 45px;
        }
    
    }

    p{
        margin-left: 20px;
        color: var(--color-letra);
    }
}

//Cuando la pantalla tenga un width menor o igual a 920px se eliminará el último elemento de cada fila.
@media  screen and (max-width: 920px){
    .lista__col-0, .lista__col-1 , .lista__col-2 , .lista__col-3{

        &:last-child{
            display: none;
        }
    }
}

//Cuando la pantalla tenga un width menor o igual a 700 se eliminará el último elemento de cada fila, mostrandose los 2 primeros de cada fila.
@media screen and (max-width: 700px) {
    .lista__col-0, .lista__col-1 , .lista__col-2 , .lista__col-3{

        &:nth-last-child(2){
            display: none;
        }
    }
}